<% @posts.each do |post| %>
<div class="post group">
  <a href="#">
    <div class="vote-wrap">
      &#9650;
     <br>
      <span class="votes">#</span>
    </div>
  </a>
  <div class="post-content">
      <%= link_to post.url , target: '_blank' do %>
        <h3 class="post-title"><%= post.title%></h3>
      <%end%>
      <p class="post-description"><%= post.description %></p>
  </div>
  <div class="post-meta">
    <span class="post-comments">87</span>

    <div class="bio">
      <img src="http://www.technologytell.com/entertainment/files/2013/04/macgruber-20100520011922032.jpg" alt="post-creator" class="post-creator">
      <div class="box">
          <img src="http://www.technologytell.com/entertainment/files/2013/04/macgruber-20100520011922032.jpg" alt="post-creator" class="post-creator-bio">
          <h2>MacClayzon</h2>
          <h4>Entrepreneur</h4>
          <div class="follow"><a href="#" class="follow-creator">Follow</a></div>
      </div>
    </div>

  </div>
</div>

<% end %>